<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap-custom.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <title>Sample</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <h1><span class="text-primary">PV Micro Services  </span><span class="text-warning">Demo</span></h1>
        </a>
        <span class="img-header img-bg-props img-services"></span>
    </nav>
    <br />
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/scripts/jquery.min.js"></script>
<script src="~/scripts/popper.min.js"></script>
    <script src="~/scripts/bootstrap-custom.min.js"></script>
    <script src="~/scripts/main.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</body>
</html>
